In [28]:
import pandas as pd
import plotly.graph_objects as go

In [29]:
air_india_df = pd.read_csv("aqli_country_data_India.csv")
air_india_df.head()

,id,name,name0,population,pm1998,pm1999,pm2000,pm2001,pm2002,pm2003,...,nat2013,nat2014,nat2015,nat2016,nat2017,nat2018,nat2019,nat2020,nat2021,nat2022
0,1195,Andaman and Nicobar,India,385325,12.18,11.84,13.13,13.83,15.42,15.71,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,1196,Andhra Pradesh,India,54135799,15.25,17.40,18.21,20.03,20.36,21.21,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,1197,Arunachal Pradesh,India,1594184,9.03,10.94,11.13,13.61,12.34,13.06,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,1198,Assam,India,35662347,19.17,20.73,22.64,24.91,23.61,26.20,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,1199,Bihar,India,124906794,45.73,47.06,52.01,58.76,54.25,56.19,...,3.31,2.99,2.66,3.17,3.12,3.67,3.27,2.79,3.11,2.12

In [30]:
air_india_df.set_index('name', drop=True, inplace=True)

In [31]:

air_india_df.rename({'name0':'country'}, axis=1, inplace=True)
# air_india_df.rename_axis({'name': 'state'}, axis=0, inplace=True)
air_india_df.index.name = 'state'
air_india_df.head()

,id,country,population,pm1998,pm1999,pm2000,pm2001,pm2002,pm2003,pm2004,...,nat2013,nat2014,nat2015,nat2016,nat2017,nat2018,nat2019,nat2020,nat2021,nat2022
state,,,,,,,,,,,,,,,,,,,,,
Andaman and Nicobar,1195,India,385325,12.18,11.84,13.13,13.83,15.42,15.71,17.59,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Andhra Pradesh,1196,India,54135799,15.25,17.40,18.21,20.03,20.36,21.21,22.57,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Arunachal Pradesh,1197,India,1594184,9.03,10.94,11.13,13.61,12.34,13.06,13.64,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Assam,1198,India,35662347,19.17,20.73,22.64,24.91,23.61,26.20,27.15,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bihar,1199,India,124906794,45.73,47.06,52.01,58.76,54.25,56.19,57.33,...,3.31,2.99,2.66,3.17,3.12,3.67,3.27,2.79,3.11,2.12

In [32]:
type(air_india_df.columns)

pandas.core.indexes.base.Index

In [33]:
def get_columns(column_names:pd.core.indexes.base.Index, string:str):
    return [f for f in column_names if string in f]

In [34]:
pm_columns = get_columns(air_india_df.columns, 'pm')
who_columns = get_columns(air_india_df.columns, 'who')
nat_columns = get_columns(air_india_df.columns, 'nat')

In [35]:
pm_india_df = air_india_df[pm_columns].copy()
who_india_df = air_india_df[who_columns].copy()
nat_india_df = air_india_df[nat_columns].copy()

In [36]:
pm_india_df.columns = [f[-4:] for f in pm_india_df.columns]
who_india_df.columns = [f[-4:] for f in pm_india_df.columns]
nat_india_df.columns = [f[-4:] for f in pm_india_df.columns]

In [37]:
pm_india_df.head()

,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
state,,,,,,,,,,,,,,,,,,,,,
Andaman and Nicobar,12.18,11.84,13.13,13.83,15.42,15.71,17.59,16.18,18.52,17.82,...,18.64,21.52,17.13,19.75,16.55,18.30,18.78,18.90,17.20,14.22
Andhra Pradesh,15.25,17.40,18.21,20.03,20.36,21.21,22.57,24.95,25.65,27.13,...,26.41,29.76,25.65,26.77,30.30,29.33,27.33,27.94,29.35,23.64
Arunachal Pradesh,9.03,10.94,11.13,13.61,12.34,13.06,13.64,14.42,15.27,14.92,...,14.67,15.64,14.44,15.05,14.74,16.01,15.89,14.98,16.77,12.00
Assam,19.17,20.73,22.64,24.91,23.61,26.20,27.15,28.18,30.91,29.88,...,30.24,32.13,29.96,29.06,30.49,34.83,31.74,32.67,34.40,22.45
Bihar,45.73,47.06,52.01,58.76,54.25,56.19,57.33,57.50,65.45,66.83,...,73.75,70.47,67.19,72.31,71.84,77.40,73.38,68.50,71.71,61.61

In [38]:
nat_india_df.columns

Index(['1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [39]:
#converting the columns names from strings to integers
pm_india_df.columns = [int(c) for c in pm_india_df.columns]
who_india_df.columns = [int(c) for c in who_india_df.columns]
nat_india_df.columns = [int(c) for c in nat_india_df.columns]

In [40]:
pm_india_df = pm_india_df.T
who_india_df = who_india_df.T
nat_india_df = nat_india_df.T

In [41]:
(who_india_df > nat_india_df).sum()

state
Andaman and Nicobar       25
Andhra Pradesh            25
Arunachal Pradesh         25
Assam                     25
Bihar                     25
Chandigarh                25
Chhattisgarh              25
Dadra and Nagar Haveli    25
Daman and Diu             25
Goa                       25
Gujarat                   25
Haryana                   25
Himachal Pradesh          25
Jammu and Kashmir         25
Jharkhand                 25
Karnataka                 25
Kerala                    25
Ladakh                    25
Lakshadweep               25
Madhya Pradesh            25
Maharashtra               25
Manipur                   25
Meghalaya                 25
Mizoram                   25
NCT of Delhi              25
Nagaland                  25
Odisha                    25
Puducherry                25
Punjab                    25
Rajasthan                 25
Sikkim                    25
Tamil Nadu                25
Telangana                 25
Tripura                   25
Uttar Pradesh             25
Uttarakhand               25
West Bengal               25
dtype: int64

In [12]:
# pm_india_df.T.plot(backend='hvplot', height=500, width=1000,title='PM values in India')

In [42]:
data=[go.Scatter(x=who_india_df.index,
                y=who_india_df[c],
                name=c,
                mode='markers+lines') for c in who_india_df.columns]
layout = go.Layout(title={'text': 'Based on WHO guidelines in India',
                          'x': 0.5},
                   xaxis={'title':'Year',
                          'color': 'black'},
                   yaxis={'title': 'Increase in Life Expectancy (Years)',
                          'color': 'black'})
fig = go.Figure(data=data, layout=layout)
fig.write_html('WHO_Values_in_India.html')

In [43]:
data=[go.Scatter(x=nat_india_df.index,
                y=nat_india_df[c],
                name=c,
                mode='markers+lines') for c in nat_india_df.columns]
layout = go.Layout(title={'text': 'Based on National guidelines in India',
                          'x': 0.5},
                   xaxis={'title':'Year',
                          'color': 'black'},
                   yaxis={'title': 'Increase in Life Expectancy (Years)',
                          'color': 'black'})
fig = go.Figure(data=data, layout=layout)
fig.write_html('nat_Values_in_India.html')

In [44]:
data=[go.Scatter(x=pm_india_df.index,
                y=pm_india_df[c],
                name=c,
                mode='markers+lines') for c in pm_india_df.columns]
layout = go.Layout(title={'text': 'PM2.5 in USA',
                          'x': 0.5},
                   xaxis={'title':'Year',
                          'color': 'black'},
                   yaxis={'title': 'Micrograms/m3',
                          'color': 'black'})
fig = go.Figure(data=data, layout=layout)
fig.write_html('PM_Values_in_India.html')

In [35]:
pm_india_df

state,Andaman and Nicobar,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra and Nagar Haveli,Daman and Diu,Goa,...,Puducherry,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal
1998,12.18,15.25,9.03,19.17,45.73,24.70,34.04,14.71,18.34,16.19,...,16.53,31.24,30.68,24.08,16.84,18.16,40.23,52.22,26.06,29.79
1999,11.84,17.40,10.94,20.73,47.06,23.57,34.78,15.85,19.19,17.32,...,19.05,29.51,30.30,24.76,19.16,19.54,40.10,49.44,25.43,32.07
2000,13.13,18.21,11.13,22.64,52.01,28.78,33.18,16.54,18.71,18.51,...,19.63,32.90,30.15,32.87,19.68,20.72,42.37,56.10,31.17,36.00
2001,13.83,20.03,13.61,24.91,58.76,31.81,39.73,17.88,19.00,18.59,...,20.61,35.67,35.42,38.40,21.79,22.90,44.47,60.81,32.78,37.83
2002,15.42,20.36,12.34,23.61,54.25,31.17,39.43,18.74,19.49,21.20,...,20.32,36.21,37.72,36.47,21.07,22.96,42.25,60.63,31.91,38.75
2003,15.71,21.21,13.06,26.20,56.19,35.96,41.75,21.23,21.94,20.48,...,21.76,39.01,40.75,38.75,21.85,24.15,46.36,67.19,34.94,38.79
2004,17.59,22.57,13.64,27.15,57.33,36.17,44.07,20.90,21.34,19.84,...,22.01,38.37,37.43,38.94,22.94,24.76,46.61,65.56,36.10,41.32
2005,16.18,24.95,14.42,28.18,57.50,35.60,43.78,21.65,23.27,22.67,...,24.63,41.12,40.88,38.84,25.37,27.10,49.93,63.93,31.36,43.26
2006,18.52,25.65,15.27,30.91,65.45,36.54,44.81,23.09,24.56,20.71,...,22.57,43.25,42.81,40.91,23.96,28.51,53.12,63.41,33.57,48.07
2007,17.82,27.13,14.92,29.88,66.83,36.67,49.10,23.81,25.40,24.49,...,24.77,44.95,42.17,41.89,25.82,29.88,51.12,67.47,35.76,48.46
2008,18.85,28.05,15.00,29.40,71.11,40.67,52.54,25.35,27.12,25.79,...,23.83,43.48,42.24,42.23,25.62,30.46,51.98,77.62,40.60,52.96
2009,20.23,29.61,18.24,34.34,72.73,38.11,51.02,25.31,25.92,26.61,...,24.65,42.17,44.51,47.58,26.26,31.74,58.50,73.06,37.72,55.97
2010,19.40,27.55,15.06,32.00,66.30,45.20,48.56,26.28,27.73,24.47,...,24.19,49.33,48.63,40.44,27.06,31.15,57.81,75.77,41.11,49.02
2011,18.42,28.07,15.73,31.25,74.67,45.57,54.30,25.83,26.38,24.86,...,22.57,48.34,46.78,44.32,26.80,30.57,57.09,80.97,43.14,55.41
2012,18.97,25.70,16.79,34.41,74.31,42.78,48.06,24.17,24.75,25.13,...,22.81,43.46,42.27,40.49,25.31,28.27,57.52,72.37,37.84,54.43
2013,18.64,26.41,14.67,30.24,73.75,44.53,52.96,25.11,26.43,23.43,...,22.18,45.46,45.12,38.71,23.66,29.99,50.20,74.13,40.89,54.19
2014,21.52,29.76,15.64,32.13,70.47,42.70,52.25,26.19,28.11,30.11,...,24.23,43.79,42.73,43.83,25.79,31.51,59.00,66.86,37.79,57.66
2015,17.13,25.65,14.44,29.96,67.19,45.96,53.05,25.37,27.91,27.15,...,19.85,48.02,46.52,46.06,21.97,29.00,57.06,70.83,41.72,54.44
2016,19.75,26.77,15.05,29.06,72.31,50.51,53.82,24.56,27.87,26.53,...,25.07,48.07,44.07,43.21,26.47,31.92,55.17,81.17,44.12,55.87
2017,16.55,30.30,14.74,30.49,71.84,47.46,52.77,29.21,32.14,27.62,...,24.80,47.47,44.86,43.94,26.88,33.43,50.74,77.71,40.81,56.36
2018,18.30,29.33,16.01,34.83,77.40,46.02,52.58,28.63,31.39,30.48,...,26.19,46.31,44.01,46.53,28.24,33.45,66.93,75.00,41.62,60.88
2019,18.78,27.33,15.89,31.74,73.38,45.79,55.40,26.85,29.67,24.33,...,21.97,45.75,48.63,44.14,24.05,31.79,54.60,77.43,38.35,54.37
2020,18.90,27.94,14.98,32.67,68.50,44.85,58.60,28.70,31.50,29.01,...,21.54,49.62,47.74,45.72,23.63,32.56,59.47,74.53,38.57,57.22
2021,17.20,29.35,16.77,34.40,71.71,46.26,61.28,28.49,30.37,31.01,...,23.42,50.98,49.42,44.26,26.00,34.95,62.34,77.55,44.37,59.14
2022,14.22,23.64,12.00,22.45,61.61,42.47,47.19,21.57,24.17,24.90,...,20.77,45.07,36.80,37.20,23.59,27.71,45.75,65.46,35.69,43.38

In [19]:
air_india_df.plot(pm_columns)

ValueError: x must be a label or position

In [ ]:
data = [go.Scatter(x=air_india_df)]